{{#if detailed}}
    <div class="card mb-3" style="float: left; margin: 10px" id="details">
        <button type="button" class="close" data-dismiss="alert" id="hide">&times;</button>
        <h3 class="card-header">{{detail.surname}}, {{detail.givenName}}</h3>
        <div class="card-body">
            <h6 class="card-subtitle text-muted">{{detail.id}}</h6>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{detail.summary}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{detail.email}}</p>
            <p class="card-text">{{detail.phoneNumber}}</p>
            <p class="card-text">{{detail.address}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action active">Education</li>
            {{#if detail.highSchool}}
                <li class="list-group-item list-group-item-action">{{detail.highSchool}}</p>
            {{/if}}
            {{#if detail.collegeUG}}
                <li class="list-group-item list-group-item-action">{{detail.collegeUG}}</p>
            {{/if}}
            {{#if detail.collegePG}}
                <li class="list-group-item list-group-item-action">{{detail.collegePG}}</p>
            {{/if}}
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action active">Work Experience</li>
            {{#each detail.workExperience as |xp|}}
                <li class="list-group-item list-group-item-action">{{xp.title}}, {{xp.location}}</li>
            {{/each}}
        </ul>
        <div class="card-body">
            <a href="/applicants/details/{{detail.id}}-{{detail.surname}}" class="card-link">
                Complete Details
            </a>
        </div>
    </div>
{{/if}}

<table class="table table-hover">
    <thead>
        <tr class="table-success">
            <th scope="col">Surname</th>
            <th scope="col">Given Name</th>
            <th scope="col">
                <a href="/applicants/email" style="color: darkviolet;">Email</a>
            </th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address</th>
            <th scope="col">High School</th>
            <th scope="col">College (Undergraduate)</th>
            <th scope="col">College (Postgraduate)</th>
            <th scope="col">Latest/Current Job Position - Title</th>
            <th scope="col">Latest/Current Job Position - Location</th>
        </tr>
        <tr>
            <th scope="col">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter" id="surnameFilter">
            </th>
            <th scope="col">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter" id="givenFilter">
            </th>
            <th scope="col">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter" id="emailFilter">
            </th>
            <th scope="col">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter" id="phoneFilter">
            </th>
            <th scope="col">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter" id="addressFilter">
            </th>
            <th scope="col">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter" id="highFilter">
            </th>
            <th scope="col">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter" id="collegeUGFilter">
            </th>
            <th scope="col" id="filter">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter" id="collegePGFilter">
            </th>
            <th scope="col" id="filter">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter" id="workTitleFilter">
            </th>
            <th scope="col" id="filter">
                <input class="form-control mr-sm-2" type="text" placeholder="Filter" id="workLocationFilter">
            </th>
        </tr>
    </thead>
    <tbody id="applicantTable">
        {{#each data as |applicant|}}
            <tr class="table-secondary">
                <td class="surname">
                    <a href="/applicants/{{applicant.id}}-{{applicant.surname}}">
                        {{applicant.surname}}
                    </a>
                </td>
                <td class="given">{{applicant.givenName}}</td>
                <td class="email">{{applicant.email}}</td>
                <td class="phone">{{applicant.phoneNumber}}</td>
                <td class="address">{{applicant.address}}</td>
                <td class="high">{{applicant.highSchool}}</td>
                <td class="collegeUG">{{applicant.collegeUG}}</td>
                <td class="collegePG">{{applicant.collegePG}}</td>
                <td class="workTitle">{{applicant.workExperience.0.title}}</td>
                <td class="workLocation">{{applicant.workExperience.0.location}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
<script type="application/javascript">
    $(document).ready(function() {
        $('#hide').click(function () {
            $('#details').hide();
        });
        $('#surnameFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.surname').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
        $('#givenFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.given').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
        $('#emailFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.email').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
        $('#phoneFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.phone').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
        $('#addressFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.address').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
        $('#addressFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.address').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
        $('#highFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.high').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
        $('#collegeUGFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.collegeUG').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
        $('#collegePGFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.collegePG').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
        $('#workTitleFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.workTitle').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
        $('#workLocationFilter').keyup(function() {
            let query = $(this).val().toLowerCase();
            $('#applicantTable tr.table-secondary td.workLocation').filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(query) > -1)
            });
        });
    });
</script>
